<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Operators </h1>
<form action="add/" method="get">
    <input type="text" name="add1" placeholder="Addition">
    <input type="text" name="add2" placeholder="Addition">
    <input type="submit">
</form>
<form action="mul/" method="get">
    <input type="text" name="mul1" placeholder="multiplication">
    <input type="text" name="mul2" placeholder="multiplication">
    <input type="submit">
</form>
<form action="sub/" method="get">
    <input type="text" name="sub1" placeholder="subtraction">
    <input type="text" name="sub2" placeholder="subtraction">
    <input type="submit">
</form>
<form action="div/" method="get">
    <input type="text" name="div1" placeholder="division">
    <input type="text" name="div2" placeholder="division">
    <input type="submit">
</form>
</body>
</html>